@banner-height:200px;
@banner-bg-color:#fff;
@banner-padding:@gap-small @gap-big;
@banner-title-font-size:20px;
@banner-title-font-weight:bold;
@banner-title-color:#fff;
.banner{
  .box-shadow(1px 1px 0px rgba(0,0,0,0.05));
  display:inline-block;
  width:100%;
  min-height: @banner-height;
  background-color: @banner-bg-color;
  padding:@banner-padding;
  margin-bottom: @gap-base;
  .title{
    color:@banner-title-color;
    font-family: 'ProximaNova',Arial;
    font-weight: @banner-title-font-weight;
    font-size: @banner-title-font-size;
    text-transform: uppercase;
  }
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
  &.c1{
    background-color: @c-main;
  }
  &.c2{
    background-color: @c-alter;
  }
}


.media{
  &.teaser{
    position:relative;
    display:inline-block;
    @icon-size:50px;
    .media-object{
      min-width:@icon-size + @gap-base;
      margin-left:@gap-base;
      float:left;
      text-align: left;
      text-decoration: none!important;
      [class*='icon-']{
        font-size: @icon-size;
        line-height: 1.25;
        color:@gray-light;
        text-shadow:2px 2px 0px rgba(255,255,255,1);
        .opacity(0.7);
  //      #icon-embossed-small(@color:#fff;@bg:#f8f8f8);
//        #text-embossed-h1(@color:#8DAE8F);
      }
    &:hover{
      [class*='icon-']{
        .opacity(1);
      }
    }
    }
  .media-body{
    margin-top:@gap-small;
  }
  .media-heading{font-size: 14px;font-weight: bold;}
  }
}