.swiper-full{
  @swiper-h:540px;
  color:@swiper-color;
  height: @swiper-h;
  position:relative;
  z-index:1000;
  .swiper-slide{
    height: @swiper-h;
  };

  .content-wrapper {
    width: 100%;
    height: @swiper-h/2;
    position:absolute;
    left:0;
    top:45%;
    display: block;
    .title {
      font-family: @swiper-title-font-family;
      font-size: @swiper-title-font-size/2;
      font-weight: @swiper-title-font-weight;
      max-width: 50%;
      line-height: 1;
      @media (min-width: @grid-float-breakpoint) {
        font-size: @swiper-title-font-size;
      }
      &.centered{
        max-width: 65%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

}


.swiper-for-content {
  @swiper-h:auto;
  width: 100%;
  height:@swiper-h;
  display: block;

  .swiper-slide {
    width: 100%;
    height:@swiper-h;
  }
}


///// carousel swiper
.swiper-line{
  @swiper-h:300px;
  height:@swiper-h;
  .swiper-slide {
    width:300px;
    height: auto;
  }

  .swiper-pagination {
    position: relative;
    margin:0; padding:0;
  }

  .swiper-pagination-switch {
    display: inline-block;
    background: darken(@body-bg-color,5%);
}

}