@swiper-w:100%;
@swiper-bg-color:#f7f7f7;
@swiper-color:#fff;
@swiper-content-padding:20%;
@swiper-nav-color:#fff;
@swiper-nav-radius:12px;
@swiper-nav-border-width:2px;

@swiper-title-font-size:52px;
@swiper-title-font-family:'ProximaNova',Arial;
@swiper-title-font-weight:bold;
.swiper-full{
  @swiper-h:70vh;
  color:@swiper-color;
  height: @swiper-h;
  position:relative;
  z-index:1000;
  .swiper-slide{
    height: 640px;
    height: @swiper-h;
  };

  .content-wrapper {
    width: 100%;
    height: @swiper-h/2;
    position:absolute;
    left:0;
    top:145%;
    display: block;
    .title {
      font-family: @swiper-title-font-family;
      font-size: @swiper-title-font-size/1.5;
      font-weight: @swiper-title-font-weight;
      @swiper-color-side:darken(@swiper-color,20%);
      #text-embossed(@color:#fff);
      max-width: 70%;
      &.centered{
        max-width: 85%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: @grid-float-breakpoint) {
          max-width: 60%;
        }
      }
      line-height: 1;
      @media (min-width: @grid-float-breakpoint) {
        font-size: @swiper-title-font-size;
        max-width: 40%;
      }
    }
  .transition(0.75s);
  }
.swiper-slide-active>.content-wrapper{top:40%}

.ui-arrow{
  display:none
}
&:hover{
  .ui-arrow{
    display:block
  }
}
}


.swiper-for-content {
  @swiper-h:auto;
  width: 100%;
  height:@swiper-h;
  display: block;

  .swiper-slide {
    width: 100%;
    height:@swiper-h;
  }
}


///// carousel swiper
.swiper-line{
  @swiper-h:300px;
  height:@swiper-h;
  .swiper-slide {
    width:300px;
    height: auto;
  }

  .swiper-pagination {
    position: relative;
    margin:0; padding:0;
  }

  .swiper-pagination-switch {
    display: inline-block;
    background: darken(@body-bg-color,5%);
}

}